<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Enviar parámetros del Request HTTP GET - URL</title>
</head>
<body>
	<h1>Enviar parámetros del Request HTTP GET - URL</h1>
	<ul>
		<li><a th:href="@{/params/string(texto='Hola Alejandro')}">/params/string?texto=Hola
				Alejandro</a></li>
		<li><a th:href="@{/params/string(texto='Hola Fernanda')}">/params/string?texto=Hola
				Fernanda</a></li>
		<li><a
			th:href="@{/params/mix-params(saludo='Como estas Alejandro?', numero=3)}">/params/mix-params?texto=Como
				estas Alejandro?&numero=7 Fernanda</a></li>
	</ul>
</body>
</html>